<ycwl-banner [pageName]="'Get Involved'" [imageName]="'get-involved.jpeg'"></ycwl-banner>
<section class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="mt-5">Make Your Mark</h1>
      <hr class="mb-5">
      <p>
        <strong>We are grateful you are interested in joining us to leave your mark on this remarkable journey.</strong>
        We provide several opportunities for both local and international volunteers to contribute to our story
      </p>
      <p>
        <strong>Our Mission</strong> is to provide experiential opportunities for skill application and development to
        international volunteers/interns who seek to be powerful change agents in Liberia's postwar recovery. Youth
        Crime Watch of Liberia through its Experience Liberia program wants to provide you with the opportunity to
        create sustainable positive change in the lives of Liberians while exploring traditional African life. Not only
        will your experience be meaningful in the eyes of others, but you will also experience a culture and tradition
        like no other.
      </p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-8 mt-5 text-center">
      <hr>
      <p class="my-5 fs-4">
        <strong>Youth Crime Watch of Liberia attracts hundreds of volunteers from different regions of the
          planet.</strong> We encourage you to apply for any area that interests you. </p>
      <hr>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-md-12 my-5">
      <p>
        As a Youth Crime Watch of Liberia volunteer you will have a unique work experience ranging from grassroots to
        institutions like ours and the United Nations. Your volunteer experience will be handcrafted to suit your skills
        and experience with special consideration towards and the skill development or the living experience that you
        are looking for. Our Experience Liberia is in a unique position to provide you with the type of experience you
        are looking for during the timeframe you desire. With opportunities ranging from 2-week periods to 1 year, we
        can place you into positions where you can create sustainable change and empower Liberians.
      </p>
      <hr class="mt-5">
    </div>
    <div class="col-md-12">
      <h2>Volunteer Initiatives</h2>
      <p class="mt-5">
        You can apply to volunteer in any of these initiatives:
      </p>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center">Organize fundraisers on our behalf</h5>
          <p class="card-text my-4 text-center">
            Under this initiative, you can contribute to our work by simply organizing a fundraiser, on our behalf, at your school, or  your church. You could even raise funds for us at any special event you are organizing.
          </p>
          <a href="mailto:info@ycwliberia.org?subject=Application for Fundraising Event">Click here to apply</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center">Form a partnership with us</h5>
          <p class="card-text my-4 text-center">
            Under this initiative, you can contribute to our work by forming a  partnership with us in areas where our work align. This leads to efficiency in delivering service to our target groups and areas. We already have some good partnerships.
          </p>
          <a href="mailto:info@ycwliberia.org?subject=Application for Partnership">Click here to apply</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center">Volunteer with us</h5>
          <p class="card-text my-4 text-center">
            We constantly have need for individuals who share our values to join us in delivering service to our communities. If you fit that profile, locally or internationally, we encourage you to join our team. Simply click the link belowto send us an email.
          </p>
          <a href="mailto:info@ycwliberia.org?subject=Application for Volunteership">Click here to apply</a>
        </div>
      </div>
    </div>
  </div>
</section>
