.lead {
  box-shadow: 0 0.25rem 0.5rem #0000001a;
  padding: 1rem 2rem;
  border-radius: 6px;
  line-height: 2.5rem;
}

.carousel {
  margin-top: 2rem;
}

.carousel-img {
  width: 100%;
}

.carousel-title {
  display: block;
  font-size: 2rem;
  margin: 0.5rem auto 1rem auto;
  font-family: 'Inter Regular';
}

.carousel-text {
  line-height: 2rem;
}

.card {
  box-shadow: 0 0.25rem 0.5rem #0000001a;
}

.card-body {
  padding: 1.5rem;
}

.card-text {
  margin: 1.5rem auto;
}
