<ycwl-banner [pageName]="'What We Do'"></ycwl-banner>
<section class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <p class="lead text-center m-5">
        Children are central to our mission at Youth Crime Watch of Liberia,
        guiding all our child-friendly initiatives, including our eight Street Library Centers,
        as we actively embrace their role as the future.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h1 class="mt-2">Our Mission</h1>
      <hr class="mb-5">
      <p>
        Youth Crime Watch of Liberia (YCWL) is a national, non-governmental and nonprofit
        organization that exists to empower, improve, and transform the lives and livelihood
        of young people in our country.
      </p>
      <p>
        Since our inception, our focus has been to re-educate our young population
        with the spirit of entrpreneurship and national growth. Over the years,
        with the progress of our peace and the stability of our country, we have
        expanded our original mission to add more focus on child development across
        all our programs and all counties in which we operate.
      </p>

      <h2 class="my-5">Our Thematic Areas</h2>
      <p>
        Youth Crime Watch of Liberia is a not-for-profit organization that is dynamic, community-focused, and dedicated
        to making a meaningful impact on the lives of individuals in our country. Since our establishment, we have been
        actively engaged in a wide range of activities designed to foster personal and community development. Our core
        mission is to create positive change, empower individuals, and contribute to the betterment of society. With those
        in mind, we have organized our activities into several thematic areas, each with sore programs that serve specific
        communities in all counties where we operate.
      </p>
      <ngb-carousel class="carousel">
        <ng-template ngbSlide>
          <div class="row carousel">
            <div class="col-md-6">
              <img class="carousel-img" src="assets/img/what-we-do/slide_1.JPG" alt="Child Protection">
            </div>
            <div class="col-md-6 px-4">
              <span class="carousel-title">Child Protection</span>
              <p class="carousel-text">
                Liberia is a nation characterized by its youthful population, with a significant demographic imbalance.
                An astonishing 42 percent of the population is comprised of children under the age of 15, and a staggering
                63 percent are under the age of 25. This demographic makeup presents Liberia with a formidable challenge:
                to safeguard its young citizens from harm while concurrently providing them with the space and opportunities
                to develop and lead the country toward a brighter future.
              </p>
              <p>
                <!-- <a class="btn btn-primary mt-3" type="button">Learn More</a> -->
              </p>
            </div>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="row carousel">
            <div class="col-md-6">
              <img class="carousel-img" src="assets/img/what-we-do/slide_2.JPG" alt="Crime Prevention and Peacebuilding">
            </div>
            <div class="col-md-6 px-4">
              <span class="carousel-title">Crime Prevention and Peacebuilding</span>
              <p class="carousel-text">
                Under this thematic area, Youth Crime Watch of Liberia is dedicated to implementing strategies
                and initiatives that target the reduction of crime, the improvement of community safety, and
                the advancement of peace and conflict resolution in both urban and rural communities in Liberia.
                This encompasses a diverse array of activities and methodologies crafted to thwart criminal
                activities, alleviate violence, and foster the development of harmonious and resilient communities.
              </p>
              <p>
                <!-- <a class="btn btn-primary mt-3" type="button">Learn More</a> -->
              </p>
            </div>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="row carousel">
            <div class="col-md-6">
              <img class="carousel-img" src="assets/img/what-we-do/slide_3.JPG" alt="Economic Development & Livelihood">
            </div>
            <div class="col-md-6 px-4">
              <span class="carousel-title">Economic Development & Livelihood</span>
              <p class="carousel-text">
                Liberia faces various challenges associated with livelihood and entrepreneurship, including
                high levels of poverty, limited access to finance, inadequate infrastructure, lack of skills
                and education, and insufficient institutional support. Several problems affect livelihoods and
                entrepreneurship in Liberia. Youth Crime Watch of Liberia Economic Development & Livelihood
                thematic area is a comprehensive area aimed at fostering sustainable economic growth,
                improving the livelihoods of individuals and communities, and reducing poverty.
              </p>
              <p>
                <!-- <a class="btn btn-primary mt-3" type="button">Learn More</a> -->
              </p>
            </div>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="row carousel">
            <div class="col-md-6">
              <img class="carousel-img" src="assets/img/what-we-do/slide_4.JPG" alt="Education & Literacy">
            </div>
            <div class="col-md-6 px-4">
              <span class="carousel-title">Education & Literacy</span>
              <p class="carousel-text">
                While education in Liberia is theoretically free for students attending government schools,
                most of these institutions suffer from inadequate learning facilities. Consequently, many
                parents opt to send their children to private schools, which often come with a hefty price
                tag that is beyond the means of the average Liberian family. The 14-year civil war, followed
                by the 2014 Ebola outbreak that led to school closures, had a profound and enduring impact on
                the education system.
              </p>
              <p>
                <!-- <a class="btn btn-primary mt-3" type="button">Learn More</a> -->
              </p>
            </div>
          </div>
        </ng-template>
        <ng-template ngbSlide>
                  <div class="row carousel">
                    <div class="col-md-6">
                      <img class="carousel-img" src="assets/img/what-we-do/slide_5.JPG" alt="Gender & Women Empowerment">
                    </div>
                    <div class="col-md-6 px-4">
                      <span class="carousel-title">Gender & Women Empowerment</span>
                      <p class="carousel-text">
                        Gender discrimination and deeply ingrained social norms have disproportionate effects on
                        males and females, subjecting them to distinct challenges. Specifically, females often find
                        themselves at risk of child marriage, teenage pregnancy, child labor, limited access to
                        quality education and healthcare, sexual abuse, exploitation, and various forms of violence.
                        In contrast, males can also fall victim to issues such as sodomy, mental abuse, stigmatization,
                        bullying, domestic violence, and sexual abuse.
                      </p>
                      <p>
                        <!-- <a class="btn btn-primary mt-3" type="button">Learn More</a> -->
                      </p>
                    </div>
                  </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="row carousel">
            <div class="col-md-6">
              <img class="carousel-img" src="assets/img/what-we-do/slide_6.JPG" alt="Governance, Accountability, and Leadership (GAL)">
            </div>
            <div class="col-md-6 px-4">
              <span class="carousel-title">Governance, Accountability, and Leadership (GAL)</span>
              <p class="carousel-text">
                In most communities in Liberia, especially rural areas, the populations have limited
                opportunities for civic engagement due to geographical isolation and lower levels of
                education, affecting their participation in key decision-making processes. Youth Crime
                Watch of Liberia's GAL thematic area is dedicated to conducting comprehensive research
                and delivering insightful analyses on critical democratic and governance matters.
              </p>
              <p>
                <!-- <a class="btn btn-primary mt-3" type="button">Learn More</a> -->
              </p>
            </div>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="row carousel">
            <div class="col-md-6">
              <img class="carousel-img" src="assets/img/what-we-do/slide_7.jpg" alt="Environment & Climate Change">
            </div>
            <div class="col-md-6 px-4">
              <span class="carousel-title">Environment & Climate Change</span>
              <p class="carousel-text">
                Youth Crime Watch of Liberia (YCWL) is actively promoting sustainable and concerted efforts to combat
                climate change and raise awareness about its profound impact as the world undergoes urbanization and
                industrialization. The escalating environmental issues, including deforestation, pose an increasingly
                severe threat to the well-being, health, livelihoods, and more, not only for people in Liberia but also
                on a global scale. The absence of clear directives and effective enforcement related to industrial mining.
              </p>
              <p>
                <!-- <a class="btn btn-primary mt-3" type="button">Learn More</a> -->
              </p>
            </div>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
    <div class="col-md-12 text-end">
      <!-- <a class="view-all-link" href="#">View All &gt;</a> -->
    </div>
    <div class="col-md-12">
      <hr>
      <h2 class="my-5">Success Stories</h2>
      <p class="mb-5">
        Overtime, we affect many people's lives. While all stories are important, sometimes we encounter incredible
        people whose stories bring hope to all of us. The following are a few of those stories:
      </p>
      <div class="row">
        <div class="col-md-4 col-sm-6">
          <div class="card mb-5">
            <img src="assets/img/what-we-do/princess_folley.jpg" class="card-img-top" alt="Princess Folley's story">
            <div class="card-body">
              <h5 class="card-title">Princess Folley, 10</h5>
              <p class="card-text">
                Prior to Princess attending the Street Library, her reading proficiency was poor.
                She arrived with an eager attitude to learn more than the few words she was able to read and
                the short words she was able to pronounce. After three months of attending the Street Library
                her reading level has gone from a one to a three!
                Princess now takes great pride in pronouncing six and eight-letter words.
              </p>
              <!-- <a href="#" class="btn btn-primary">Read More</a> -->
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="card mb-5">
            <img src="assets/img/what-we-do/princess_johnson.png" class="card-img-top" alt="Princess Johnson's story">
            <div class="card-body">
              <h5 class="card-title">Princess Johnson, 9</h5>
              <p class="card-text">
                Unlike many children who are fortunate to start school early, Princess Johnson, 9, began her primary
                education at age 7. But because of her willingness to learn and the availability of sufficient
                learning materials and passionate volunteers to enhance her learning progress, Princess Johnson
                has showcased exceptional academic performance at her school and the Street Library.
              </p>
              <!-- <a href="#" class="btn btn-primary">Read More</a> -->
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="card mb-5">
            <img src="assets/img/what-we-do/jeter_peters.jpg" class="card-img-top" alt="Anna L. Cammue's story">
            <div class="card-body">
              <h5 class="card-title">Jeter Peters, 12</h5>
              <p class="card-text">
                Like so many children in Liberia, Jeter had no prospect of attaining any sort of formal education. His
                parents moved him from one place to another, from one relative to another, hoping he will eventually
                gain access to education. Unfortunately, that did not work out for him. Having done some research,
                his sister enrolled him in our TVET program, and Jeter has become an incredible tailor.
              </p>
              <!-- <a href="#" class="btn btn-primary">Read More</a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 text-end">
      <!-- <a class="view-all-link" href="#">View All &gt;</a> -->
    </div>
  </div>
</section>
