<ycwl-banner [pageName]="'Who We Are'" [imageName]="'who-we-are.jpeg'"></ycwl-banner>
<section class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="mt-5">About Us</h1>
      <hr class="mb-5">
      <p>
        Youth Crime Watch of Liberia is a non-profit organization dedicated to empowering and uplifting disadvantaged youths in Liberia. Through various programs such as education, child protection, civil engagement, governance, gender empowerment, agriculture, and climate change initiatives, they aim to promote grassroots involvement in nation-building. YCWL is officially registered in Liberia and holds Consultative Status with the United Nations Economic and Social Council (ECOSOC).
      </p>
    </div>
    <div class="col-md-12">
      <h1 class="mt-5">Our Mission</h1>
      <hr class="mb-5">
      <p>
        Youth Crime Watch exists to positively impact the youthful population, to inspire them to play key roles that are vital to national development. We exist to empower, improve and transform the livelihood of young people in our environment.
      </p>
    </div>
    <div class="col-md-12">
      <h1 class="mt-5">Our Values</h1>
      <hr class="mb-5">
      <p class="mb-5">
        To mobilize and equip youth change makers in the Liberian society, to create a safer environment of crimes and to foster youth empowerment and good citizenship throughout Liberia.
      </p>
    </div>
  </div>
</section>
