<header class="container casey">
  <div class="row">
    <div class="col">
      <img class="logo" src="assets/img/header/logo.png" alt="YCWL logo">
      <span class="title">Youth Crime Watch <em class="title-of">of</em> Liberia</span>
    </div>
  </div>
</header>
<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" href="#">YCWL</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navigation"
      aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navigation">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link"
             title="What we do"
             routerLink="/what-we-do"
             routerLinkActive="active"
             ariaCurrentWhenActive="page">What We Do</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             title="Where We Work"
             routerLink="/where-we-work"
             routerLinkActive="active"
             ariaCurrentWhenActive="page">Where We Work</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             title="Who We Are"
             routerLink="/who-we-are"
             routerLinkActive="active"
             ariaCurrentWhenActive="page">Who We Are</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             title="News"
             routerLink="/news"
             routerLinkActive="active"
             ariaCurrentWhenActive="page">News</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             title="Get Involved"
             routerLink="/get-involved"
             routerLinkActive="active"
             ariaCurrentWhenActive="page">Get Involved</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             title="Impact Stories"
             routerLink="/impact-stories"
             routerLinkActive="active"
             ariaCurrentWhenActive="page">Impact Stories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             title="Our Centers"
             routerLink="/our-centers"
             routerLinkActive="active"
             ariaCurrentWhenActive="page">Our Centers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             title="Youth Innovation Hub"
             routerLink="/innovation-hub"
             routerLinkActive="active"
             ariaCurrentWhenActive="page">Innovation Hub</a>
        </li>
        <li class="nav-item">
          <a class="nav-link donate"
             title="Donate"
             routerLink="/donate"
             routerLinkActive="active"
             ariaCurrentWhenActive="page">Donate</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
