<header class="container">
  <div class="row">
    <div class="col">
      <img class="logo" src="assets/img/header/logo.png" alt="YCWL logo">
      <span class="title">Youth Crime Watch <em class="title-of">of</em> Liberia</span>
    </div>
  </div>
</header>
<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" href="#">YCWL</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navigation"
      aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navigation">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" title="What we do">What We Do</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" title="Where we work">Where We Work</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" title="Who we are">Who We Are</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" title="News">News</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" title="Get Involved">Get Involved</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" title="Impact Stories">Impact Stories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" title="Our Centers">Our Centers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" title="Innovation Hub">Innovation Hub</a>
        </li>
        <li class="nav-item">
          <a class="nav-link donate" href="#" title="Donate">Donate</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
